.container {
  height: 100vh;
  width: 237px;
  border-right: 1px solid black;

  .logo {
    background-color: yellow;
    height: 150px;
    padding-top: 25px;
    .header {
      font-size: 1.3rem;
      text-align: center;
      font-family: "Noto Sans, sans-serif";
      font-weight: 700;
    }
  }

  .sidebar {
    height: 600px;
    display: flex;
    justify-content: center;

    ul {
      list-style-type: none;

      li {
        padding-top: 35px;
      }
    }
    a {
      cursor: [pointer];
      text-decoration: none;
    }
  }
}
