.container {
  height: 100vh;
  width: 237px;
  border-right: 1px solid black;

  .logo {
    background-color: yellow;
    height: 150px;
  }

  .sidebar {
    height: 600px;
    background-color: purple;
  }
}
